*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body{
    height: 100vh;
    background-color: white;
}

label.activado{
    color: #8d8d8d;
    display: flex;
    align-items: center;
    text-decoration: line-through;
}
label.desactivado{
    color: #313131;
}
#todos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contador{
    text-align: center;
    width: 520px;
}
.todo-checkbox {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.todo-checkbox:hover {
    background-color: #f4f3f2;
}

.todo-checkbox:checked{
    background-color: #37d7b2;
    background-image: url(./resorces/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
}

.contador{
    text-align: center;
    padding: 10px 20px;
    margin: 10px 10px;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #f2f3f6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 650px;
    height: 500px;
    border: none;
    border-radius: 10px;
    overflow: auto;
}

.style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #37d7b2;
}


.todo-item{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
    transition: 0.5s;
}
/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #37d7b2;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}